div {
    display: flex;
    align-items: center;
}
input {
    flex: 2;
    width: 100%;
    border: none;
    outline: none;
    background-color: #C4B097;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
}
html {
    font-size: 20px;
    background-color: #C4B097;
    color: #000000;
    border: 6px solid #9D7E58;
    border-radius: 15px;
    margin: 10px ;
    padding: 0%;
    height: 100%;
    width: auto;
    font-family: 'JetBrains Mono', monospace;
}
@media (prefers-color-scheme: dark) {
    html {
        background-color: #0c0906;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 15px;
        margin: 10px ;
        padding: 0%;
        height: 100%;
        width: auto;
    }
    input {
        flex: 2;
        width: 100%;
        border: none;
        outline: none;
        background-color: #000000;
    }
}
